@font-face {
    font-family: Futura-Demi_Bold;
    src: url(/fonts/Futura-Demi_bold.otf);
}
:root {
    --Color1: #cdffff;
    --Color2: #b2dafa;
    --Color3: #84b6f4;    
    --Color4: #6a9eda;
    --Color5: #5086c1;

    font-family: Futura-Demi_Bold;
    color: #fff;
}

html{
    scroll-behavior: smooth; /*SMOOTH SCROLL*/
} 
::-webkit-scrollbar {
    display: none;
}  
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--Color5);
}

h1 {
    font-size: 100px;
}
h2 {
    font-size: 80px;
}
h3 {
    font-size: 60px;
}
P {
    font-size: 40px;
}

/*----------------------------------------------------------------------------------------------------*/
/* STANDARD STYLES FOR THE WHOLE DOCUMENT */
.StandardAlign {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
}

.ContainerStandard {
    width: 100vw;
    height: 94vh;
    padding: 6vh 2vw 2vh 2vw;
    overflow: hidden;
}
/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/
/* NAVIGATION MENU*/
.ContainerNavigationMenu{
    width: 100vw;
    height: 6vh;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    background: transparent;
    background: var(--Color4);
    overflow: hidden;
}

/*----------------------------------------------------------------------------------------------------*/
nav{
    width: 100%;
    background: transparent;
    text-align: center;
}
nav > a{
    color: #fff;
    text-decoration: none;
    margin: 2vw;
    font-size: 2.5vh;
}
nav a:hover{
    color: var(--Color5);
    text-decoration: none;
    margin: 2vw;
    font-size: 3.5vh;
    background: #f9a59a;
}
/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/
/* LANDING PAGE */
.ContainerLandingPage {

    background: var(--Color3);
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
/* CATALOGUE */
.ContainerCatalogue {

    background: var(--Color3);
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
/* SHIPPING */
.ContainerShipping {

    background:var(--Color3);
}
/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/
/* FOOTER */
.ContainerFooter {

    background: var(--Color3);
}
/*----------------------------------------------------------------------------------------------------*/